@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000839), color-stop(#07093d), color-stop(#110841), color-stop(#1b0644), to(#250247));
  background-image: linear-gradient(to right bottom, #000839, #07093d, #110841, #1b0644, #250247);
}

body {
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #fbbe3f;
  position: relative;
}

p {
  margin: 1.5rem 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin: 2rem 0;
  font-family: 'Nunito', sans-serif;
  color: #fae939;
}

button {
  height: 4rem;
  border-radius: 0.6rem;
  width: 60%;
  margin: 0 auto;
  background: #d33e3e;
  border: none;
  color: #fae939;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
  cursor: pointer;
  -webkit-transition: all ease-in 250ms;
  transition: all ease-in 250ms;
}

button:hover {
  background: #b52929;
  color: #f9e307;
}

label {
  font-size: 2.2em;
}

input,
textarea {
  display: block;
  width: 100%;
  border-radius: 0.6rem;
  background-color: transparent;
  border: solid 2px #d33e3e;
  color: #fae939;
  margin-top: 0.3rem;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

input {
  height: 4rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #d33e3e;
  -webkit-text-fill-color: #fae939;
  -webkit-box-shadow: 0 0 0px 1000px #161d43 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@-webkit-keyframes heading {
  from {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heading {
  from {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes text {
  from {
    -webkit-transform: translateY(1200px);
            transform: translateY(1200px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes text {
  from {
    -webkit-transform: translateY(1200px);
            transform: translateY(1200px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

section {
  height: 100vh;
  width: 85%;
  margin: 0 auto 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5rem;
}

section .main-title {
  font-size: 4.5rem;
  margin: 2rem auto;
}

section .line,
section .line-expanded {
  height: 3px;
  width: 1rem;
  background-color: #d33e3e;
  margin: 0 auto 2rem auto;
}

section .line-expanded {
  width: 18rem;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

section .sub-title {
  font-size: 2.3rem;
  margin: 2rem auto;
  font-weight: 600;
  text-align: center;
  max-width: 60%;
}

section .progress {
  width: 0%;
  -webkit-transition: all 2s ease-in-out 450ms;
  transition: all 2s ease-in-out 450ms;
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms both;
  animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms both;
}

.swing-in-bottom-fwd {
  -webkit-animation: swing-in-bottom-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms both;
  animation: swing-in-bottom-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms both;
}

#banner {
  z-index: -5;
  height: 100vh;
  border-bottom: 2px #d33e3e;
  background: url("../img/eclipse5.png");
  background-position: right -5rem bottom 12rem;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.5fr 1fr;
      grid-template-columns: 3.5fr 1fr;
  grid-gap: 3rem;
  position: absolute;
  width: 80%;
}

#banner-content h1 {
  margin: auto 0;
  font-size: 6rem;
  line-height: 1.3;
  -webkit-animation: heading 1s forwards ease-out 500ms;
          animation: heading 1s forwards ease-out 500ms;
}

#banner-content img {
  width: 40rem;
}

#banner-content p {
  font-size: 2.2rem;
  line-height: 1.5;
  -webkit-animation: text 1s forwards ease-out 1s;
          animation: text 1s forwards ease-out 1s;
}

#nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 120vh;
  border-right: 2px solid #d33e3e;
  width: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-bar ul {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-bar ul i {
  color: #fbbe3f;
  opacity: 1;
  -webkit-transition: all ease-in 250ms;
  transition: all ease-in 250ms;
}

#nav-bar ul[href='#about-me'] span {
  color: blue;
}

#nav-bar ul a {
  position: relative;
}

#nav-bar ul a span {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: -20%;
  color: #fbbe3f;
  font-size: 1rem;
  font-weight: bolder;
  display: block;
  opacity: 0;
  -webkit-transition: all ease-in 250ms;
  transition: all ease-in 250ms;
}

#nav-bar ul a:hover span {
  opacity: 1;
}

#nav-bar ul a:hover i {
  opacity: 0;
}

#nav-bar ul a[href='#about-me'] span {
  left: -45%;
}

#nav-bar ul a[href='#banner'] span,
#nav-bar ul a[href='#skills'] span {
  font-size: 1.1rem;
}

#nav-bar ul a[href='#skills'] span {
  left: -35%;
}

#nav-bar ul a[href='#contact'] span {
  left: -75%;
}

#nav-bar ul a[href='#projects'] span {
  left: -50%;
}

#about-me-profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin: 4rem 0;
  width: 85%;
}

#about-me-profile img {
  margin-left: 2rem;
  width: 80%;
}

#about-me-profile-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  background-color: #161d43;
  border-left: 3px solid #d33e3e;
}

#about-me-profile-description h3 {
  color: #fbbe3f;
  font-size: 2rem;
}

#about-me-profile-description p {
  font-size: 1.9rem;
  line-height: 1.7;
}

#about-me-strengths {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 2rem auto;
  grid-gap: 4rem;
  width: 65%;
}

#about-me-strengths .card-strenght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#about-me-strengths .card-strenght i {
  color: #d33e3e;
  -webkit-transform: rotate(0deg) scale(1) translateZ(0);
          transform: rotate(0deg) scale(1) translateZ(0);
  -webkit-transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  margin: 1rem 0;
}

#about-me-strengths .card-strenght i:hover {
  -webkit-transform: rotate(10deg) scale(1.1);
          transform: rotate(10deg) scale(1.1);
}

#about-me-strengths .card-strenght h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fbbe3f;
  margin: 0.7rem 0;
}

#about-me-strengths .card-strenght p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0 1rem;
}

#projects {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#projects .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 2.5rem;
}

#projects .projects-box {
  position: relative;
  height: 30rem;
  width: 35rem;
  overflow: hidden;
  opacity: 0;
}

#projects .projects-box img {
  display: block;
  height: 100%;
  width: 100%;
}

#projects .projects-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fbbe3f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 450ms ease-in-out 0s;
  transition: all 450ms ease-in-out 0s;
  opacity: 0;
  overflow: hidden;
  padding: 0 2.5rem;
}

#projects .projects-box .overlay div {
  text-align: center;
  -webkit-transform: translateY(-30rem);
          transform: translateY(-30rem);
}

#projects .projects-box .overlay button {
  background-color: transparent;
  border: solid 3px #d33e3e;
  -webkit-transform: translateY(30rem);
          transform: translateY(30rem);
}

#projects .projects-box .overlay div,
#projects .projects-box .overlay button {
  -webkit-transition: all 450ms ease-in-out 0.1s;
  transition: all 450ms ease-in-out 0.1s;
}

#projects .projects-box .overlay a {
  display: block;
  height: 100%;
  line-height: 100%;
  color: #000839;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
}

#projects .projects-box:hover .overlay {
  opacity: 0.95;
}

#projects .projects-box:hover .overlay div {
  -webkit-transform: translate(0);
          transform: translate(0);
}

#projects .projects-box:hover .overlay button {
  -webkit-transform: translate(0);
          transform: translate(0);
}

#projects .projects-title {
  color: #000839;
  font-weight: 700;
  font-size: 2.3rem;
}

#projects .projects-tech {
  color: #d33e3e;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

#projects i {
  color: #fbbe3f;
  padding-left: 1rem;
  -webkit-transition: all ease-in 250ms;
  transition: all ease-in 250ms;
}

#projects i:hover {
  color: #d33e3e;
}

#skills :nth-child(3) {
  margin-top: 5rem;
}

#skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.9rem;
  width: 80%;
}

#skills .skill i,
#skills .skill img {
  display: block;
  height: 5rem;
  width: 8rem;
  text-align: center;
  color: #fbbe3f;
}

#skills .skill-wrap {
  margin-left: 2rem;
  width: 100%;
}

#skills .skill-wrap h4 {
  margin: 0;
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fbbe3f;
  font-family: 'Poppins', sans-serif;
}

#skills .skill-bar {
  height: 2rem;
  background: #c4c4c4;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

#skills .skill-bar div {
  background-color: #d33e3e;
  height: 100%;
  border-radius: 0.5rem 1rem 1rem 0.5rem;
}

#contact {
  margin-bottom: 0;
}

#contact form {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  background: #161d43;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 1fr 3fr;
      grid-template-rows: 1fr 1fr 3fr;
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
  padding: 3rem;
  margin: 2rem auto;
}

#contact form #message,
#contact form #submit-btn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
}

footer {
  height: 7.5rem;
  width: 100%;
  padding-left: 5.5rem;
  margin-top: 8rem;
}

footer .footer-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 5rem;
  color: #fbbe3f;
  font-family: 'Nunito', sans-serif;
  background: #161d43;
}

footer .footer-content p {
  font-size: 1.6rem;
}

footer .footer-content .social i {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  border: solid 1px #fbbe3f;
  border-radius: 50%;
  margin-left: 1rem;
  color: #fbbe3f;
  -webkit-transition: all ease-in 250ms;
  transition: all ease-in 250ms;
}

footer .footer-content .social i:hover {
  color: #d33e3e;
  border-color: #d33e3e;
}
/*# sourceMappingURL=main.css.map */