@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;600&display=swap');

$background-color: #000839;
$lighter-background-color: #161d43;
$main-color-orange: #fbbe3f;
$secondary-color-yellow: #fae939;
$secondary-color-red: #d33e3e;
$eclipse-logo-img: url('../img/eclipse5.png'); // fix logo in rezising. Maybe image instead?
$main-transition: all ease-in 250ms;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-image: linear-gradient(
    to right bottom,
    #000839,
    #07093d,
    #110841,
    #1b0644,
    #250247
  );
}

body {
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: $main-color-orange;
  position: relative;
}

p {
  margin: 1.5rem 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin: 2rem 0;
  font-family: 'Nunito', sans-serif;
  color: $secondary-color-yellow;
}

button {
  height: 4rem;
  border-radius: 0.6rem;
  width: 60%;
  margin: 0 auto;
  background: $secondary-color-red;
  border: none;
  color: $secondary-color-yellow;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: $main-transition;

  &:hover {
    background: darken($secondary-color-red, 10%);
    color: darken($secondary-color-yellow, 10%);
  }
}

label {
  font-size: 2.2em;
}

input,
textarea {
  display: block;
  width: 100%;
  border-radius: 0.6rem;
  background-color: transparent;
  border: solid 2px $secondary-color-red;
  color: $secondary-color-yellow;
  margin-top: 0.3rem;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

input {
  height: 4rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid $secondary-color-red;
  -webkit-text-fill-color: $secondary-color-yellow;
  -webkit-box-shadow: 0 0 0px 1000px $lighter-background-color inset;
  transition: background-color 5000s ease-in-out 0s;
}
