@keyframes heading {
  from {
    transform: translateY(-1200px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes text {
  from {
    transform: translateY(1200px);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

section {
  height: 100vh;
  width: 85%;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;

  .main-title {
    font-size: 4.5rem;
    margin: 2rem auto;
  }

  .line,
  .line-expanded {
    height: 3px;
    width: 1rem; // animate line
    background-color: $secondary-color-red;
    margin: 0 auto 2rem auto;
  }

  .line-expanded {
    width: 18rem;
    transition: all 2s ease-out;
  }

  .sub-title {
    font-size: 2.3rem;
    margin: 2rem auto;
    font-weight: 600;
    text-align: center;
    max-width: 60%;
  }

  .progress {
    width: 0%;
    transition: all 2s ease-in-out 450ms;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    600ms both;
  animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms
    both;
}

.swing-in-bottom-fwd {
  -webkit-animation: swing-in-bottom-fwd 2s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms both;
  animation: swing-in-bottom-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    400ms both;
}
