@import 'config';
@import 'utils';
@import 'mobile';

#banner {
  // z-index: -5;
  height: 100vh;
  padding-left: 7rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  a:link:active,
  a:visited {
    color: $main-color-orange;
  }

  p#action {
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;

    i {
      font-size: 2.2rem;
      color: $secondary-color-red;
      animation: down 1.5s infinite;
    }
  }

  &-content {
    width: 70%;
    height: 100%;
    padding: 2.8rem 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    // border: green 1px solid;

    img {
      width: 15%;
    }

    h1 {
      font-weight: 700;
      font-size: 5rem;
      line-height: 1.2;
      animation: heading 1s forwards ease-out 500ms;

      span {
        color: $secondary-color-red;
      }
    }

    p {
      font-size: 2rem;
      line-height: 1.3;
      animation: text 1s forwards ease-out 1s;
    }
  }
}

#nav-bar {
  z-index: 50;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 120vh;
  border-right: 2px solid $secondary-color-red;
  width: 6.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;

  ul {
    height: 80%;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    i {
      color: $main-color-orange;
      opacity: 1;
      transition: $main-transition;
    }

    &[href='#about-me'] span {
      color: blue;
    }

    a {
      position: relative;

      span {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: $main-color-orange;
        font-size: 1rem;
        font-weight: bolder;
        display: block;
        opacity: 0;
        transition: $main-transition;
      }

      &:hover span {
        opacity: 1;
      }

      &:hover i {
        opacity: 0;
      }
    }
  }
}

#about-me {
  &-profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 5rem 0;
    width: 85%;

    img {
      margin: auto;
      width: 75%;
    }
  }

  &-profile-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.5rem;
    background-color: $lighter-background-color;
    border-left: 3px solid $secondary-color-red;

    h3 {
      color: $main-color-orange;
      font-size: 2rem;
    }

    p {
      font-size: 1.9rem;
      line-height: 1.5;
    }
  }

  &-strengths {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem auto;
    grid-gap: 4rem;
    width: 65%;

    .card-strenght {
      display: flex;
      flex-direction: column;
      text-align: center;

      i {
        color: $secondary-color-red;
        transform: rotate(0deg) scale(1) translateZ(0);
        transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
        margin: 1rem 0;

        &:hover {
          transform: rotate(10deg) scale(1.1);
        }
      }

      h4 {
        // change titles
        font-size: 1.8rem;
        font-weight: 600;
        color: $main-color-orange;
        margin: 0.7rem 0;
      }

      p {
        font-size: 1.5rem;
        font-weight: 300;
        font-style: italic;
        margin: 0;
        padding: 0 1rem;
      }
    }
  }
}

#projects {
  min-height: 100vh;
  height: fit-content;

  .projects-grid {
    margin: 2rem auto;
    width: 95%;
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 34rem);
  }

  .card img {
    height: 19rem;
  }

  .card-content {
    height: 172px;

    p,
    span {
      line-height: normal;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .card-image a {
    background-color: #d33e3e;
  }

  .card-content,
  .card-reveal,
  .card-action {
    background: $main-color-orange;
    color: #000839;
    font-size: 1.5rem;
    // height: 100%;
  }

  .card-action a {
    font-weight: 600;
    color: #000839;

    &:hover {
      color: $secondary-color-red;
    }
  }

  //projects-grid -- add margins in mobile

  .fa-github {
    color: $main-color-orange;
    padding-left: 1rem;
    transition: $main-transition;
    &:hover {
      color: $secondary-color-red;
    }
  }
}

#skills {
  // & > div.skill + div.skill { all but first child with class
  //   background-color: black;
  // }
  :nth-child(3) {
    margin-top: 5rem;
  }

  .skill {
    display: flex;
    margin-bottom: 0.9rem;
    width: 80%;

    i,
    img {
      display: block;
      height: 5rem;
      width: 8rem;
      text-align: center;
      color: $main-color-orange;
    }

    &-wrap {
      margin-left: 2rem;
      width: 100%;

      h4 {
        margin: 0;
        margin-bottom: 0.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: $main-color-orange;
        font-family: 'Poppins', sans-serif;
      }
    }

    &-bar {
      height: 2rem;
      background: #c4c4c4;
      width: 100%;
      overflow: hidden;
      border-radius: 0.5rem;

      div {
        background-color: $secondary-color-red;
        height: 100%;
        border-radius: 0.5rem 1rem 1rem 0.5rem;
      }
    }
  }
}

#contact {
  margin-bottom: 0;
  form {
    width: 65%;
    margin-top: 3rem;
    height: fit-content;
    color: $main-color-orange;
    border-radius: 0.5rem;
    // overflow: auto;
    background: $lighter-background-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
    padding: 3rem;

    #message,
    #submit-btn {
      grid-column: 1/3;
    }

    label,
    input,
    textarea {
      color: $main-color-orange;
    }

    label {
      font-size: 1.7rem;
    }

    textarea {
      min-height: 17rem;
    }

    p {
      font-size: 1.5rem;
      font-style: oblique;
      margin: 0;
      display: none;
    }
  }
}

blockquote {
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  font-style: oblique;
}

footer {
  height: 7.5rem;
  width: 100%;
  padding-left: 6.3rem;
  margin-top: 8rem;

  .footer-content {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5rem;
    color: $main-color-orange;
    font-family: 'Nunito', sans-serif;
    background: $lighter-background-color;

    p {
      font-size: 1.6rem;
    }

    .social {
      i {
        width: 4.5rem;
        height: 4.5rem;
        line-height: 4.5rem;
        text-align: center;
        border: solid 1px $main-color-orange;
        border-radius: 50%;
        margin-left: 1rem;
        color: $main-color-orange;
        transition: $main-transition;

        &:hover {
          color: $secondary-color-red;
          border-color: $secondary-color-red;
        }
      }
    }
  }
}

@import 'mobile';
